<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405048374750-npj2kumftle34a5jiqnbj9p8359ftbc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405048374750-npj2kumftle34a5jiqnbj9p8359ftbc0</string>
	<key>API_KEY</key>
	<string>AIzaSyAkzLRHEvGAEFW2s6P3oq58BR0czlBD-Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>405048374750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PrivateRouter.PrivateMailFiles</string>
	<key>PROJECT_ID</key>
	<string>privatemail-files</string>
	<key>STORAGE_BUCKET</key>
	<string>privatemail-files.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405048374750:ios:69c8dae5d434933a33594f</string>
	<key>DATABASE_URL</key>
	<string>https://privatemail-files.firebaseio.com</string>
</dict>
</plist>